@import "../../assets/styles/colors.scss";
.initiative {
  padding-bottom: 84px;
  overflow-y: scroll;

  .box-top-scroll {
    padding-top: 76px;
    &.admin {
      padding-top: 120px;
    }
  }
  .v-filter {
    h4 {
      margin-bottom: 0;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;

      color: #121212;
    }
    .v-btn-list {
      width: 100%;
      overflow-x: scroll;
      padding-bottom: 8px;

      button {
        div {
          width: max-content;
          font-weight: 600;
          font-size: 12px;
          line-height: 20px;

          text-align: center;
          letter-spacing: -0.24px;

          color: #fcfcfc;
        }
      }
    }
  }
  .btn-dropdown {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    /* or 167% */

    display: flex;
    align-items: center;

    /* Brand/Bubble Purple */
    color: $mint;

    &.dropdown-toggle::after {
      display: none !important;
    }
  }
  .btn-dropdown-item {
    font-size: 14px;
    line-height: 20px;

    color: #121212;
    &.selected {
      color: $mint;
    }
  }
}
