@import "../../assets/styles/colors.scss";


.middle-text {
  span {    
    &.mod-box {
      padding:0 3px;
      border-radius: 4px;
      border: 1px solid #4B008B;
      color: #ffffff;
      background-color: #4B008B;
    }
  }
}
.tenant-profile {
  .white-box {    
    background: linear-gradient(116.45deg, #4b008b -23.1%, #ff2692 250.18%);
    color: #ffffff;
    padding: 3em;
    border-radius: 15px;
    h5 {
      display: none;
    }
    img {
      border-radius: 100px;
    }
  }
}
/* Desktop css start */
@media screen and (min-width:1200px){
}