@import "../../assets/styles/colors.scss";

.settings-page {
  padding-top: 64px;

  .v-title {
    padding: 8px 20px;
  }

  h4 {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    color: #121212;
  }

  .box-item {
    background: #ffffff;
    box-shadow: 5px 5px 20px rgba(18, 18, 18, 0.03);
    padding: 15px 20px;

    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    color: #121212;
    cursor: pointer;
    margin-bottom: 2px;

    .text-right {
      font-weight: 400;
    }
  }
}
/* Desktop css start */
@media screen and (min-width:1200px){
  .settings-page {
    padding-top: 85px;
  }
}